@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body,html{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    color: #cd0010;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

h1{
    margin: 0%;
    font-size: 4rem;
}

h2{
    margin-top: 0%;
    font-size: 1.5rem;
}

body{
    background-color: #cd0010;  
}

.flex-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
}

.flex-item{
    background-color: white;
    color: #cd0010;
    padding: 1rem;
    min-width: 50%;
    align-items: center;
    text-align: center;
    flex-basis: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-weight: bold;
    margin-bottom: 2rem;
}

.nav-item{
font-size: 2.5rem;
text-align: center;
align-items: center;
}

.gallery-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.gallery-item{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    color: #cd0010;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    border: 5px solid white;
    min-width: 15%;
    justify-content: center;
    align-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.gallery-item:hover{
    background-color: #95000c;
    color: white;
    border: 5px solid white;
}

.item-details{
    display: inline-flex;
    flex-flow: column wrap;
    width: 30%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 1rem;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.item-description{
    display: inline-flex;
    flex-flow: row nowrap;
    width: 50%;
    background-color: white;
    padding: 1rem;
    
}